/*body {background-color: #333;} */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 324px;
  background-color: black;
}

/*div.gallery:hover {
  border: 1px solid #777;
}*/

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: left;
  font-family: Palatino, serif;
  font-size: 0.8em;
  color: white;			    
}

a {
    text-decoration: none;
}
